In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np

In [2]:
quote_text = pd.read_csv('GNI88.csv')
quote_text.head(3)

,artdate,Article ID,Headline,Quote ID,Article Status,Article Position,Messages,Submessages,Quote Position,Legacy Quote Tag,...,Source Religion,Legacy Source Tag,Constituent Group,Media Name,Media Medium,Journalist Name,Constituent Author,Article Issues,Custom Group,Media Group
0,2018-01-10,3759306,North Korea makes deals and threats,7023849,News,Neutral,OLD Proliferation,OLD State Level Nuclear Programs,Neutral,NaN,...,Unknown,Unknown,None (Legacy Other),Washington Post,NaN,"Fifield, Anna",NaN,NaN,NaN,NaN
1,2018-01-10,3759306,North Korea makes deals and threats,7023842,News,Neutral,OLD Proliferation,OLD State Level Nuclear Programs,Negative,NaN,...,Unknown,Unknown,None (Legacy Other),Washington Post,NaN,"Fifield, Anna",NaN,NaN,NaN,NaN
2,2018-01-10,3759306,North Korea makes deals and threats,7023839,News,Neutral,OLD Proliferation,OLD State Level Nuclear Programs,Negative,NaN,...,Unknown,Unknown,None (Legacy Other),Washington Post,NaN,"Fifield, Anna",NaN,NaN,NaN,NaN

In [3]:
quote_text.columns

Index(['artdate', 'Article ID', 'Headline', 'Quote ID', 'Article Status',
       'Article Position', 'Messages', 'Submessages', 'Quote Position',
       'Legacy Quote Tag', 'On/Off Message', 'QText', 'Source Name',
       'Source Type', 'Source Party Affiliation', 'Source Ethnicity',
       'Source Nationality', 'Source Gender', 'Source Religion',
       'Legacy Source Tag', 'Constituent Group', 'Media Name', 'Media Medium',
       'Journalist Name', 'Constituent Author', 'Article Issues',
       'Custom Group', 'Media Group'],
      dtype='object')

In [4]:
article_data = pd.read_json("gni88.json", lines=True)
article_data.head()

,Article ID,Headline,Content,Media Name,Author,Published Date
0,3777409,Modernized Tu-160 to boost Russia's long-range...,Modernized Tu-160 to boost Russia's long-range...,Defense News,"Bodner, Matthew",2018-02-15 00:00:00+00
1,3764250,Give Trump more nuclear weapons and more ways ...,Give Trump more nuclear weapons and more ways ...,CNN,"Collina, Tom Z.",2018-02-02 00:00:00+00
2,3764251,Trump wants to build smaller atomic weapons; R...,Trump wants to build smaller atomic weapons; R...,Los Angeles Times,"Cloud, David",2018-02-03 00:00:00+00
3,3764252,Egypt and Israel Secretly Allied In Sinai Battle,Egypt and Israel Secretly Allied In Sinai Batt...,The New York Times,"Kirkpatrick, David D.",2018-02-04 00:00:00+00
4,3764253,Listen: Top Armed Services Dem worried about r...,Listen: Top Armed Services Dem worried about r...,The Hill,"Simendinger, Alexis",2018-02-03 00:00:00+00

# remove irrelevant text from articles (prev code)

In [13]:
#Patterns at start of article
allarticle_header_regex = "Media: .*\nAuthor: (?:.*\n){1,10}Date: .*\n\n"

politico_share_regex = '.*\n{1,20}Follow Us\n'
politico_date_regex = '^.*\nBy.*\n\d\d/\d\d/\d\d\d\d \d\d:\d\d (?:AM|PM) EDT'

#Patterns at end of article
dow_regex = 'License this article from Dow Jones Reprint Service'

#Patterns in article
#search for line with only all caps and punctuation
fox_bold_regex = "\n[A-Z ',.-]+\n"

In [14]:
def regex_trim(rx_list,column, df=article_data, replace_value=""):
    '''Takes a list of regex patterns, and joins the patterns with an OR (|) separator. 
    Searches the specified column/df for the pattern and replaces it with value specified (default value-nothing)'''
    df[column] = df[column].replace(to_replace="|".join(rx_list), value=replace_value, regex=True)
    return df

In [15]:
remove_patterns = [allarticle_header_regex, fox_bold_regex, 
                   dow_regex, 
                   politico_date_regex]

df = regex_trim(remove_patterns, "Content")

In [16]:
df

,Article ID,Headline,Content,Media Name,Author,Published Date,First_10%_Content_Split
0,3777409,Modernized Tu-160 to boost Russia's long-range...,Modernized Tu-160 to boost Russia's long-range...,Defense News,"Bodner, Matthew",2018-02-15 00:00:00+00,"[Modernized, Tu-160, to, boost, Russia's, long..."
1,3764250,Give Trump more nuclear weapons and more ways ...,Give Trump more nuclear weapons and more ways ...,CNN,"Collina, Tom Z.",2018-02-02 00:00:00+00,"[Give, Trump, more, nuclear, weapons, and, mor..."
2,3764251,Trump wants to build smaller atomic weapons; R...,Trump wants to build smaller atomic weapons; R...,Los Angeles Times,"Cloud, David",2018-02-03 00:00:00+00,"[Trump, wants, to, build, smaller, atomic, wea..."
3,3764252,Egypt and Israel Secretly Allied In Sinai Battle,Egypt and Israel Secretly Allied In Sinai Batt...,The New York Times,"Kirkpatrick, David D.",2018-02-04 00:00:00+00,"[Egypt, and, Israel, Secretly, Allied, In, Sin..."
4,3764253,Listen: Top Armed Services Dem worried about r...,Listen: Top Armed Services Dem worried about r...,The Hill,"Simendinger, Alexis",2018-02-03 00:00:00+00,"[Listen:, Top, Armed, Services, Dem, worried, ..."
...,...,...,...,...,...,...,...
69990,3783411,The Pyongyang Olympics,The Pyongyang Olympics\r\n\r\nMedia: The Wall ...,The Wall Street Journal,"No By-Line,",2018-02-12 00:00:00+00,"[The, Pyongyang, Olympics, Media:, The, Wall, ..."
69991,3783412,"US Air Force requests $156.3 billion in FY19, ...","US Air Force requests $156.3 billion in FY19, ...",Defense News,"Mehta, Aaron",2018-02-12 00:00:00+00,"[US, Air, Force, requests, $156.3, billion, in..."
69992,3783413,Mike Pence says the US is ready to negotiate w...,Mike Pence says the US is ready to negotiate w...,Vox,"Ward, Alex",2018-02-12 00:00:00+00,"[Mike, Pence, says, the, US, is, ready, to, ne..."
69993,3783414,Chinese Sub Commanders May Get,Chinese Sub Commanders May Get\r\n\r\nMedia: D...,Defense One,"Kania, Elsa",2018-02-12 00:00:00+00,"[Chinese, Sub, Commanders, May, Get, Media:, D..."
69994,3783415,Trump Proposes 10% Bump for the Pentagon - the...,Trump Proposes 10% Bump for the Pentagon - the...,Defense One,"Houck, Caroline",2018-02-12 00:00:00+00,"[Trump, Proposes, 10%, Bump, for, the, Pentago..."

In [17]:
article_data = df

# Extract first 10% of article content

In [18]:
article_data['First_10%_Content_Split'] = article_data['Content'].apply(lambda x: x.split()[:int(0.1*len(x))])

In [19]:
from nltk.tokenize.treebank import TreebankWordDetokenizer
article_data['First_10%_Content'] = article_data['First_10%_Content_Split'].apply(lambda x: TreebankWordDetokenizer().detokenize(x))

# Check first 10% content

Check if length is reasonable:

In [20]:
article_data['First_10%_Content_Split']

0        [Modernized, Tu-160, to, boost, Russia's, long...
1        [Give, Trump, more, nuclear, weapons, and, mor...
2        [Trump, wants, to, build, smaller, atomic, wea...
3        [Egypt, and, Israel, Secretly, Allied, In, Sin...
4        [Listen:, Top, Armed, Services, Dem, worried, ...
                               ...
69990    [The, Pyongyang, Olympics, Media:, The, Wall, ...
69991    [US, Air, Force, requests, $156.3, billion, in...
69992    [Mike, Pence, says, the, US, is, ready, to, ne...
69993    [Chinese, Sub, Commanders, May, Get, Media:, D...
69994    [Trump, Proposes, 10%, Bump, for, the, Pentago...
Name: First_10%_Content_Split, Length: 69995, dtype: object

In [21]:
min_length = article_data['First_10%_Content_Split'].apply(lambda x: len(x))

In [22]:
length_table = pd.DataFrame(data = min_length)
small_length_table = length_table.loc[length_table['First_10%_Content_Split'] < 10]
small_length_table

       First_10%_Content_Split
52556                        8
53635                        8
53910                        8
54236                        7
55202                        9
...                        ...
64959                        9
65082                        6
65683                        7
68119                        9
68876                        7

[299 rows x 1 columns]

In [23]:
article_data['Content_Split'] = article_data['Content'].apply(lambda x: x.split())

In [24]:
min_length_content = article_data['Content_Split'].apply(lambda x: len(x))

In [25]:
length_table_Content = pd.DataFrame(data = min_length_content)
small_length_table_Content = length_table_Content.loc[length_table_Content['Content_Split'] < 10]

In [26]:
small_length_table_Content.value_counts()

Content_Split
0                253
dtype: int64

There are 253 in the df with no "Content"

In [27]:
article_data['Content'].value_counts

<bound method IndexOpsMixin.value_counts of 0        Modernized Tu-160 to boost Russia's long-range...
1        Give Trump more nuclear weapons and more ways ...
2        Trump wants to build smaller atomic weapons; R...
3        Egypt and Israel Secretly Allied In Sinai Batt...
4        Listen: Top Armed Services Dem worried about r...
                               ...
69990    The Pyongyang Olympics\r\n\r\nMedia: The Wall ...
69991    US Air Force requests $156.3 billion in FY19, ...
69992    Mike Pence says the US is ready to negotiate w...
69993    Chinese Sub Commanders May Get\r\n\r\nMedia: D...
69994    Trump Proposes 10% Bump for the Pentagon - the...
Name: Content, Length: 69995, dtype: object>

In [28]:
article_data.iloc[small_length_table_Content.index, :].head()

,Article ID,Headline,Content,Media Name,Author,Published Date,First_10%_Content_Split,First_10%_Content,Content_Split
58653,7714048,,,Task and Purpose,Idrees Ali and Phil Stewart,2020-04-16 19:53:38+00,[],,[]
58654,7714049,,,Task and Purpose,,2020-04-16 17:47:58+00,[],,[]
58655,7714050,,,Task and Purpose,Jim Thompson,2020-04-16 15:41:51+00,[],,[]
58656,7714051,,,Task and Purpose,Haley Britzky,2020-04-16 14:38:28+00,[],,[]
58657,7714052,,,Task and Purpose,Jared Keller,2020-04-16 14:38:02+00,[],,[]

It seems like many of the rows of the dataframe do not have anything in the Content column, or only contain the headers/title of article.

Will remove those rows for feature selection analysis.

In [29]:
article_data = article_data.drop(index = small_length_table_Content.index)

In [30]:
merged_df = quote_text.merge(article_data[['Article ID', 'Content', 'Author', 'Published Date', 'First_10%_Content']], on = 'Article ID')

# Improve First Line Extraction

In [38]:
import re

In [96]:
def first_sentence2(string):
    no_acronyms = re.sub(r'(?<!\w)([A-Z])\.', r'\1', string)
    pattern = r"^([^.!?]+)"
    print(re.findall(pattern, no_acronyms))

^ previous first line func: getting everything before first punctuation (not including abbreviations)

Common pattern in content - media, byline, date is before actual content (example below)
Regex for only taking content after the 2nd new line

In [220]:
print(merged_df['Content'][0])

North Korea makes deals and threats

Media: The Washington Post
Byline: Anna Fifield
Date: 10 January 2018

SEOUL - North Korea's representatives assured the South Korean government Tuesday that the country's "cutting-edge" nuclear weapons are aimed only at the United States, not at its neighbors, as they struck a deal to send athletes to next month's Winter Olympics and to reopen a military hotline.

The sobering words underscored how, despite the rare agreement with the South, Pyongyang continues to assert its right to fend off the United States with nuclear arms.

Nevertheless, South Korea achieved its immediate goal of bringing North Korean athletes to compete in what Seoul has dubbed the "peace games." South Korean officials portrayed this agreement as a first step in a significant improvement in bilateral relations. The question, analysts said, is whether the North will pursue this opening with any sincerity.

South Korea signaled that it was willing to suspend some of its direct sanctions on North Korea to facilitate a Northern delegation's travel to the Olympics, which will open Feb. 9 in the South's PyeongChang region.

Seoul will have to move carefully to avoid alienating the Trump administration, which has been leading a campaign of "maximum pressure" to force North Korea to give up its nuclear and missile programs.

But in Washington, the State Department applauded the talks Tuesday and said South Korea has assured the United States that North Korea's participation in the Olympics will not violate any U.N. sanctions.

The day-long talks at the Panmunjom truce village on the border between the two Koreas led to the unusual scene of a delegation of smiling North Korean men in black suits walking across the concrete curb that divides North from South - the same line that a North Korean soldier crossed at the end of last year, as other Northern soldiers shot at him.

After the talks, Ri Son Kwon, the North's previously gregarious chief representative, chastised the South Korean media for reporting that the discussions had included denuclearization as a subject. That was not on the table, he said.

"All our cutting-edge weapons, including our hydrogen bomb and intercontinental ballistic missiles, are not targeting our Korean brothers, China or Russia but the United States," Ri said, according to pool reports from inside the room.

"If we begin talking about these issues, then today's good results might be reduced to nothing," he warned.

Cho Myoung-gyon, South Korea's unification minister and its chief delegate to the talks, said that despite the quibbles, Tuesday's discussions were positive and could pave the way for progress on the nuclear issue. "The most important spirit of the inter-Korean talks is mutual respect," he said.

The talks, the first in more than two years, have the backing of both Korean leaders. In his New Year's address, North Korea's Kim Jong Un wished his "compatriots of the same blood" success for the Games.

"The talks are important because they are a positive indicator for bilateral relations," said Alison Evans, a Korea expert at IHS Markit, a consulting firm.

The governments in Beijing and Tokyo both welcomed the agreement as a positive step.

Steve Goldstein, the undersecretary for public diplomacy at the State Department, said the United States played no role in the talks beyond a phone call between President Trump and South Korean President Moon Jae-in, which Secretary of State Rex Tillerson sat in on. He said no topics were off limits, and the United States did not seek to have South Korea discourage North Korea from participating even though the administration has sought to further isolate the regime through sanctions.

"If the Olympics provide an opening for conversations to occur, that's better for the people of South Korea and also the people of North Korea," Goldstein said. "We want to see their athletes participate and be part of the community of nations."

Washington will send a delegation, but Goldstein said there are "no plans" for the Americans to have any direct contact with the North Koreans attending.

Trump had tweeted over the weekend that his "firm, strong" position toward North Korea had created the environment for Tuesday's talks. Moon, at a news conference Wednesday, diplomatically agreed that Trump deserved a "great deal" of the credit.

"I would like to thank him for that," Moon said.

Moon hailed the results of the talks but said that the nuclear issue was separate and that Pyongyang has made it clear this is not an inter-Korean issue. He also expressed a willingness to talk directly with Kim but said he would not have a meeting for its own sake.

Christopher Green, senior adviser for the Korean Peninsula at the International Crisis Group, said the question now is, what is North Korea's long-term strategy?

"If they want to drive a wedge into the alliance between the United States and South Korea, this could just be their opening gambit," he said.

At the talks, the two sides agreed to "actively cooperate" for the PyeongChang Winter Olympics. The North will send athletes, cheering and performing-arts squads, press and a "high-level delegation" to the Games, according to a joint statement.

North Korea is hardly a Winter Olympics powerhouse, having won only two medals in its history - a silver in 1964 and a bronze in 1992, both for speedskating. But International Olympic Committee President Thomas Bach hailed Tuesday's agreement as "a great step forward in the Olympic spirit."

The IOC has been supporting the North Korean athletes with training, equipment and travel costs, and will now work out which of them can compete. Although two North Korean figure skaters qualified for the Olympics, they did not register in time. They and others are likely to be included as "wild card" entries.

South Korea's government, led by the progressive Moon, has been eager to secure North Korea's participation in the "peace games" next month and to find a way back to engaging with Pyongyang.

The Olympics have provided that opportunity, and Seoul has shown a willingness to move mountains to accommodate the North - even persuading the United States to postpone annual military exercises, which usually take place in early March, until after the Games finish March 18.

The South Korean government was ready to "take steps in relation to sanctions against North Korea" to facilitate the visit, Foreign Ministry spokesman Noh Kyu-duk told reporters. However, this would be done in consultation with the United Nations sanctions committee and the United States, he said.

The mention of a "high-level delegation" and sanctions relief fueled speculation that North Korea might send Choe Ryong Hae, one of Kim's closest aides, to the Olympics.

Choe made a surprise visit to South Korea in 2015 to attend the closing ceremony of the Asian Games, but he was blacklisted by South Korea in 2016 after the North's fifth nuclear test.

South Korea has also slapped sanctions on Air Koryo, North Korea's state airline, but the restoration of a military hotline suggested that the Northern delegation would travel overland rather than by air to attend the Games.

The two Koreas agreed to hold military-level meetings to "ease the current military tension and to resolve issues" and to hold further talks "to improve inter-Korean relations."

A military hotline on the western end of the border, cut in 2016 after the nuclear test, will resume operations Wednesday morning. This is a key step to reducing the chance of an accidental escalation if there is a military incident on the border, analysts said.

anna.fifield@washpost.com

Yoonjung Seo in Seoul and Carol Morello in Washington contributed to this report.

In [221]:
import regex as re

In [222]:
def first_sentence3(content):
    content = ''.join(content.split('\r\n\r\n')[2:])
    no_acronyms = re.sub(r'(?<!\w)([A-Z])\.', r'\1', content)
    pattern = r"^([^.!?]+)"
    print(re.findall(pattern, no_acronyms))

In [224]:
first_sentence3(merged_df['Content'][0])

['SEOUL - North Korea\'s representatives assured the South Korean government Tuesday that the country\'s "cutting-edge" nuclear weapons are aimed only at the United States, not at its neighbors, as they struck a deal to send athletes to next month\'s Winter Olympics and to reopen a military hotline']