In [228]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np

In [2]:
quote_text = pd.read_csv('GNI88.csv')
quote_text.head(3)

,artdate,Article ID,Headline,Quote ID,Article Status,Article Position,Messages,Submessages,Quote Position,Legacy Quote Tag,...,Source Religion,Legacy Source Tag,Constituent Group,Media Name,Media Medium,Journalist Name,Constituent Author,Article Issues,Custom Group,Media Group
0,2018-01-10,3759306,North Korea makes deals and threats,7023849,News,Neutral,OLD Proliferation,OLD State Level Nuclear Programs,Neutral,NaN,...,Unknown,Unknown,None (Legacy Other),Washington Post,NaN,"Fifield, Anna",NaN,NaN,NaN,NaN
1,2018-01-10,3759306,North Korea makes deals and threats,7023842,News,Neutral,OLD Proliferation,OLD State Level Nuclear Programs,Negative,NaN,...,Unknown,Unknown,None (Legacy Other),Washington Post,NaN,"Fifield, Anna",NaN,NaN,NaN,NaN
2,2018-01-10,3759306,North Korea makes deals and threats,7023839,News,Neutral,OLD Proliferation,OLD State Level Nuclear Programs,Negative,NaN,...,Unknown,Unknown,None (Legacy Other),Washington Post,NaN,"Fifield, Anna",NaN,NaN,NaN,NaN

In [3]:
quote_text.columns

Index(['artdate', 'Article ID', 'Headline', 'Quote ID', 'Article Status',
       'Article Position', 'Messages', 'Submessages', 'Quote Position',
       'Legacy Quote Tag', 'On/Off Message', 'QText', 'Source Name',
       'Source Type', 'Source Party Affiliation', 'Source Ethnicity',
       'Source Nationality', 'Source Gender', 'Source Religion',
       'Legacy Source Tag', 'Constituent Group', 'Media Name', 'Media Medium',
       'Journalist Name', 'Constituent Author', 'Article Issues',
       'Custom Group', 'Media Group'],
      dtype='object')

In [4]:
quote_text['Article Issues']

0                                   NaN
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN
                      ...
378700                              NaN
378701    US Nuclear and Missile Policy
378702    US Nuclear and Missile Policy
378703    US Nuclear and Missile Policy
378704                              NaN
Name: Article Issues, Length: 378705, dtype: object

In [5]:
article_data = pd.read_json("gni88.json", lines=True)
article_data.head()

,Article ID,Headline,Content,Media Name,Author,Published Date
0,3777409,Modernized Tu-160 to boost Russia's long-range...,Modernized Tu-160 to boost Russia's long-range...,Defense News,"Bodner, Matthew",2018-02-15 00:00:00+00
1,3764250,Give Trump more nuclear weapons and more ways ...,Give Trump more nuclear weapons and more ways ...,CNN,"Collina, Tom Z.",2018-02-02 00:00:00+00
2,3764251,Trump wants to build smaller atomic weapons; R...,Trump wants to build smaller atomic weapons; R...,Los Angeles Times,"Cloud, David",2018-02-03 00:00:00+00
3,3764252,Egypt and Israel Secretly Allied In Sinai Battle,Egypt and Israel Secretly Allied In Sinai Batt...,The New York Times,"Kirkpatrick, David D.",2018-02-04 00:00:00+00
4,3764253,Listen: Top Armed Services Dem worried about r...,Listen: Top Armed Services Dem worried about r...,The Hill,"Simendinger, Alexis",2018-02-03 00:00:00+00

In [218]:
# Extract first 10% of article content
article_data['First_10%_Content_Split'] = article_data['Content'].apply(lambda x: x.split()[:int(0.1*len(x))])

In [219]:
from nltk.tokenize.treebank import TreebankWordDetokenizer
article_data['First_10%_Content'] = article_data['First_10%_Content_Split'].apply(lambda x: TreebankWordDetokenizer().detokenize(x))

In [220]:
article_data.head()

,Article ID,Headline,Content,Media Name,Author,Published Date,First_10%_Content_Split,First_10%_Content
0,3777409,Modernized Tu-160 to boost Russia's long-range...,Modernized Tu-160 to boost Russia's long-range...,Defense News,"Bodner, Matthew",2018-02-15 00:00:00+00,"[Modernized, Tu-160, to, boost, Russia's, long...",Modernized Tu-160 to boost Russia's long-range...
1,3764250,Give Trump more nuclear weapons and more ways ...,Give Trump more nuclear weapons and more ways ...,CNN,"Collina, Tom Z.",2018-02-02 00:00:00+00,"[Give, Trump, more, nuclear, weapons, and, mor...",Give Trump more nuclear weapons and more ways ...
2,3764251,Trump wants to build smaller atomic weapons; R...,Trump wants to build smaller atomic weapons; R...,Los Angeles Times,"Cloud, David",2018-02-03 00:00:00+00,"[Trump, wants, to, build, smaller, atomic, wea...",Trump wants to build smaller atomic weapons; R...
3,3764252,Egypt and Israel Secretly Allied In Sinai Battle,Egypt and Israel Secretly Allied In Sinai Batt...,The New York Times,"Kirkpatrick, David D.",2018-02-04 00:00:00+00,"[Egypt, and, Israel, Secretly, Allied, In, Sin...",Egypt and Israel Secretly Allied In Sinai Batt...
4,3764253,Listen: Top Armed Services Dem worried about r...,Listen: Top Armed Services Dem worried about r...,The Hill,"Simendinger, Alexis",2018-02-03 00:00:00+00,"[Listen:, Top, Armed, Services, Dem, worried, ...",Listen: Top Armed Services Dem worried about r...

In [221]:
merged_df = quote_text.merge(article_data[['Article ID', 'Content', 'Author', 'Published Date', 'First_10%_Content']], on = 'Article ID')

In [222]:
merged_df.columns

Index(['artdate', 'Article ID', 'Headline', 'Quote ID', 'Article Status',
       'Article Position', 'Messages', 'Submessages', 'Quote Position',
       'Legacy Quote Tag', 'On/Off Message', 'QText', 'Source Name',
       'Source Type', 'Source Party Affiliation', 'Source Ethnicity',
       'Source Nationality', 'Source Gender', 'Source Religion',
       'Legacy Source Tag', 'Constituent Group', 'Media Name', 'Media Medium',
       'Journalist Name', 'Constituent Author', 'Article Issues',
       'Custom Group', 'Media Group', 'Content', 'Author', 'Published Date',
       'First_10%_Content'],
      dtype='object')

# Updated: Regex Expression for getting 1st sentence

Function that 
 - Removes periods from acronyms
 - Finds all content before first ending punctuation

In [208]:
def first_sentence(string):
    no_acronyms = re.sub(r'(?<!\w)([A-Z])\.', r'\1', string)
    pattern = r"^([^.!?]+)"
    print(re.findall(pattern, no_acronyms))

Add column 'firstSentence' to merged_df:

In [248]:
def first_sentence2(string):
    no_acronyms = re.sub(r'(?<!\w)([A-Z])\.', r'\1', string)
    pattern = r"^([^.!?]+)"
    return re.findall(pattern, no_acronyms)

In [249]:
merged_df['firstSentence'] = merged_df['Content'].apply(lambda x: first_sentence2(x))

# Proportion of Words Overlapped w Topic columns
(Article Issues, Submessages, Messages)

In [226]:
def num_overlapped_words(col1, col2):
    return [len(set(x).intersection(y)) for x, y in zip(merged_df[col1], merged_df[col2])]
def prop_overlapped_words(col1, col2):
    len_article_issues = merged_df['Article Issues Split'].apply(lambda x: len(x))
    return num_overlapped_words(col1, col2) / len_article_issues

ARTICLE ISSUES

In [227]:
merged_df['Article Issues Split'] =  merged_df['Article Issues'].apply(lambda x: str(x).split())

Article Issues, 1st 10% Content

In [235]:
merged_df['First_10%_Content Split'] =  merged_df['First_10%_Content'].apply(lambda x: str(x).split())

In [236]:
merged_df['Prop Overlapped (Article Issues, 10% Content)'] = prop_overlapped_words('Article Issues Split', 'First_10%_Content Split')

In [239]:
articleIssue_first10 = np.mean(merged_df['Prop Overlapped (Article Issues, 10% Content)'])
articleIssue_first10

0.145556076911699

Article Issues, Headline

In [240]:
merged_df['Headline Split'] = merged_df['Headline'].apply(lambda x: str(x).split())

In [241]:
merged_df['Prop Overlapped (Article Issues, Headline)'] = prop_overlapped_words('Article Issues Split', 'Headline Split')

In [243]:
articleIssue_headline = np.mean(merged_df['Prop Overlapped (Article Issues, Headline)'])
articleIssue_headline

0.17699392975978925

Article Issues, 1st sentence

In [251]:
merged_df['firstSentence Split'] = merged_df['firstSentence'].apply(lambda x: str(x).split())

In [252]:
merged_df['Prop Overlapped (Article Issues, firstSentence)'] = prop_overlapped_words('Article Issues Split', 'firstSentence Split')

In [253]:
articleIssue_firstSentence = np.mean(merged_df['Prop Overlapped (Article Issues, firstSentence)'])
articleIssue_firstSentence

0.06866772277351096

SUBMESSAGES

In [255]:
merged_df['Submessages Split'] =  merged_df['Submessages'].apply(lambda x: str(x).split())

Submessages, 1st 10% Content

In [256]:
merged_df['Prop Overlapped (Submessages, 10% Content)'] = prop_overlapped_words('Submessages Split', 'First_10%_Content Split')

In [257]:
submessages_first10 = np.mean(merged_df['Prop Overlapped (Submessages, 10% Content)'])
submessages_first10

0.4062894739542418

Submessages, Headline

In [258]:
merged_df['Prop Overlapped (Submessages, Headline)'] = prop_overlapped_words('Submessages Split', 'Headline Split')

In [259]:
submessages_headline = np.mean(merged_df['Prop Overlapped (Submessages, Headline)'])
submessages_headline

0.08959050795144989

Submessages, 1st sentence

In [260]:
merged_df['Prop Overlapped (Submessages, firstSentence)'] = prop_overlapped_words('Submessages Split', 'firstSentence Split')

In [261]:
submessages_firstSentence = np.mean(merged_df['Prop Overlapped (Submessages, firstSentence)'])
submessages_firstSentence

0.12779171423790647

MESSAGES

In [262]:
merged_df['Messages Split'] =  merged_df['Messages'].apply(lambda x: str(x).split())

Messages, 1st 10% Content

In [263]:
merged_df['Prop Overlapped (Messages, 10% Content)'] = prop_overlapped_words('Messages Split', 'First_10%_Content Split')

In [264]:
messages_first10 = np.mean(merged_df['Prop Overlapped (Messages, 10% Content)'])
messages_first10

0.5287954174811248

Messages, Headline

In [265]:
merged_df['Prop Overlapped (Messages, Headline)'] = prop_overlapped_words('Messages Split', 'Headline Split')

In [266]:
messages_headline = np.mean(merged_df['Prop Overlapped (Messages, Headline)'])
messages_headline

0.27400673801936704

Messages, 1st sentence

In [267]:
merged_df['Prop Overlapped (Messages, firstSentence)'] = prop_overlapped_words('Messages Split', 'firstSentence Split')

In [268]:
messages_firstSentence = np.mean(merged_df['Prop Overlapped (Messages, firstSentence)'])
messages_firstSentence

0.2580156819379368

# Table with final proportions 

- columns are the Topic columns [Article Issues, Submessages, Messages]
- rows are [1st 10% Content, Headline, 1st sentence])

In [270]:
d = {'Article Isues' : [articleIssue_first10, articleIssue_firstSentence, articleIssue_headline],
    'Submessages' : [submessages_first10, submessages_firstSentence, submessages_headline],
    'Messages' : [messages_first10, messages_firstSentence, messages_headline]}
topic_props = pd.DataFrame(data = d)

In [275]:
index = ['1st 10% Content', '1st sentence', 'Headline']
topic_props.index = index

In [276]:
topic_props

                 Article Isues  Submessages  Messages
1st 10% Content       0.145556     0.406289  0.528795
1st sentence          0.068668     0.127792  0.258016
Headline              0.176994     0.089591  0.274007

In [279]:
topic_props['Avg Overlapped Prop'] = [np.mean(topic_props.iloc[i]) for i in np.arange(3)]

In [280]:
topic_props

                 Article Isues  Submessages  Messages  Avg Overlapped Prop
1st 10% Content       0.145556     0.406289  0.528795             0.360214
1st sentence          0.068668     0.127792  0.258016             0.151492
Headline              0.176994     0.089591  0.274007             0.180197

Findings: 1st 10% Content and Headline are better features than 1st sentence across the three topic columns.

# Updated: Remove Punc & Stopwords Function

In [315]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# Tokenizer uses a regex pattern to return text as list of words with punctuation removed
def remove_punc(df, col):
    tokenizer = nltk.RegexpTokenizer(r"\w+")
    return df[col].apply(lambda x: tokenizer.tokenize(x))

In [316]:
from collections import Counter

stop_words = set(stopwords.words('english'))

# Function to remove stopwords from a single string
def remove_stopwords(text):
    stopwords_dict = Counter(stop_words)
    text = ' '.join([word for word in text.split() if word not in stopwords_dict])
    return text

# Function to remove stopwords from column of string values
def remove_stopwords_column(df, col):
    return df[col].apply(lambda x: remove_stopwords(x))