In [1]:
import pandas as pd
import numpy as np

## EDA for Data Dictionary
### Sunya Abbasi 09/25

In [5]:
#reading in csv file
df = pd.read_csv("GNI88_cleaned_data.csv")
df.columns

/var/folders/_p/kkyy31fn0kj_gp3_9lhdmkb40000gn/T/ipykernel_84961/4097222810.py:2: DtypeWarning: Columns (9,10,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("GNI88_cleaned_data.csv")

Index(['artdate', 'Article ID', 'Headline', 'Quote ID', 'Article Status',
       'Article Position', 'Messages', 'Submessages', 'Quote Position',
       'Legacy Quote Tag', 'On/Off Message', 'QText', 'Source Name',
       'Source Type', 'Source Party Affiliation', 'Source Ethnicity',
       'Source Nationality', 'Source Gender', 'Source Religion',
       'Legacy Source Tag', 'Constituent Group', 'Media Name', 'Media Medium',
       'Journalist Name', 'Constituent Author', 'Article Issues',
       'Custom Group', 'Media Group', 'fulltext', 'source_name_cleaned'],
      dtype='object')

In [ ]:
small_df = df.iloc[0:, 19:]

In [ ]:
small_df.head()

In the following cells, I will look at all of the unique values in each column, their counts, and their value types.

### Legacy Source Tag

In [6]:
df["Legacy Source Tag"].value_counts()

Unknown                             332502
Iran Project Experts                 11874
GOP Presidential Candidate/Staff      3698
Name: Legacy Source Tag, dtype: int64

In [7]:
df["Legacy Source Tag"].apply(type).value_counts()

<class 'str'>      348074
<class 'float'>     60130
Name: Legacy Source Tag, dtype: int64

In [ ]:
### Constituent Group

In [8]:
df["Constituent Group"].value_counts()

None (Legacy Other)                                      325964
Brookings Institute                                        2200
Middlebury Institute at Monterey/ James Martin Center      1795
Arms Control Association                                   1782
Center for Strategic and International Studies             1493
                                                          ...
Utah Campaign Against Nuclear Weapons                         1
American Friends Service Committee                            1
Rockefeller Brothers Fund                                     1
Taxpayers for Common Sense                                    1
the Norwegian Radiation Safety Authority.                     1
Name: Constituent Group, Length: 117, dtype: int64

In [9]:
df["Constituent Group"].apply(type).value_counts()

<class 'str'>      351073
<class 'float'>     57131
Name: Constituent Group, dtype: int64

### Media Name

In [11]:
df[ 'Media Name'].value_counts()

Reuters News           71066
AP News                41492
The New York Times     30563
CNN                    24089
Washington Post        22431
                       ...
Idaho State Journal        1
Fuelfix                    1
Space News                 1
Al Jazeeera                1
Bustle                     1
Name: Media Name, Length: 284, dtype: int64

In [12]:
df["Media Name"].apply(type).value_counts()

<class 'str'>    408204
Name: Media Name, dtype: int64

### Media Medium

In [14]:
df["Media Medium"].value_counts()

Print    67790
Blogs     6446
TV         762
Other       10
Name: Media Medium, dtype: int64

In [15]:
df["Media Medium"].apply(type).value_counts()

<class 'float'>    333196
<class 'str'>       75008
Name: Media Medium, dtype: int64

### Journalist Name

In [16]:
df['Journalist Name'].value_counts()

No By-Line,                        70973
Dahl, Fredrik                       5740
Richter, Paul                       3458
Jahn, George                        2949
Sanger, David                       2884
                                   ...
Chris Strohm                           1
STAFF PAUL SCHARRE KELLY CLANCY        1
By Kate Conger                         1
Paul R. Ignatius                       1
Cobb, Jelani                           1
Name: Journalist Name, Length: 12711, dtype: int64

In [17]:
df['Journalist Name'].apply(type).value_counts()

<class 'str'>      397695
<class 'float'>     10509
Name: Journalist Name, dtype: int64

### Constituent Author

In [19]:
df['Constituent Author'].value_counts()

Constituent Author    1446
Name: Constituent Author, dtype: int64

In [20]:
df['Constituent Author'].apply(type).value_counts()

<class 'float'>    406758
<class 'str'>        1446
Name: Constituent Author, dtype: int64

### Article Issues

In [22]:
df['Article Issues'].value_counts()

Iran                                                             54015
Proliferation                                                     8258
Arms Reduction                                                    3394
Iran, Proliferation                                               3046
Iran, Politics                                                    2984
                                                                 ...
Relevant Article, Iran, Missile Defense                              1
Argentina                                                            1
Relevant Article, Missile Defense, North Korea, Proliferation        1
Missile Defense, North Korea                                         1
Proliferation, Iran, Arms Reduction                                  1
Name: Article Issues, Length: 231, dtype: int64

In [23]:
df['Article Issues'].apply(type).value_counts()

<class 'float'>    318321
<class 'str'>       89883
Name: Article Issues, dtype: int64

### Custom Group

In [24]:
df['Custom Group'].value_counts()

Op-Ed                  16617
Iran                   15379
Commentary             14550
North Korea            10654
Editorial               6564
                       ...
Republic of Belarus        1
Africa                     1
Guinea                     1
Yemen                      1
Greece                     1
Name: Custom Group, Length: 64, dtype: int64

In [25]:
df['Custom Group'].apply(type).value_counts()

<class 'float'>    311756
<class 'str'>       96448
Name: Custom Group, dtype: int64

### Media Group

In [26]:
df['Media Group'].value_counts()

Capitol Hill Media    45516
Beltway               17975
Name: Media Group, dtype: int64

In [27]:
df['Media Group'].apply(type).value_counts()

<class 'float'>    344713
<class 'str'>       63491
Name: Media Group, dtype: int64

### fulltext

In [28]:
df['fulltext'].apply(type).value_counts()

<class 'str'>      404341
<class 'float'>      3863
Name: fulltext, dtype: int64

In [29]:
df['fulltext'].isna().sum()

3863

### source_name_cleaned

In [31]:
df['source_name_cleaned'].value_counts()

Donald Trump                          15249
Unnamed Obama White House Official     9696
Barack Obama                           9593
Unnamed Analyst/Expert                 8597
Benjamin Netanyahu                     5977
                                      ...
Randolph Bourne                           1
Dean Obeidallah                           1
Drew Hammill                              1
Carlie Waibel                             1
Steve Bell                                1
Name: source_name_cleaned, Length: 16806, dtype: int64